In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
def changecolumn(dataset, AttackType):
    df = pd.read_csv(dataset).sample(frac = 0.1, random_state = 20, replace = False).reset_index(drop=True)
    df.columns = ["Timestamp", "CAN ID", "Byte", "DATA[0]","DATA[1]","DATA[2]","DATA[3]","DATA[4]","DATA[5]","DATA[6]","DATA[7]","AttackType"]
    df['AttackType'] = np.where(df['AttackType'] == 'T',AttackType, 'Normal Message')
    df.dropna()
    return df

dfDos = changecolumn('DoS_dataset.csv','DoS Attack')
dfFuzzy = changecolumn('Fuzzy_dataset.csv','Fuzzy Attack')
dfGear = changecolumn('gear_dataset.csv','Gear Spooing Attack')
dfRPM = changecolumn('RPM_dataset.csv','RPM Spoofing Attack')
frames = [dfDos, dfFuzzy, dfGear, dfRPM]
df = pd.concat(frames)
print(df.head(10))
print(df.shape)

      Timestamp CAN ID  Byte DATA[0] DATA[1] DATA[2] DATA[3] DATA[4] DATA[5]  \
0  1.478200e+09   0000     8      00      00      00      00      00      00
1  1.478201e+09   0131     8      1b      80      00      00      3f      7f
2  1.478199e+09   00a1     8      80      89      00      00      24      00
3  1.478200e+09   0260     8      18      21      22      30      08      8f
4  1.478201e+09   02c0     8      14      00      00      00      00      00
5  1.478200e+09   0130     8      0b      80      00      ff      08      80
6  1.478200e+09   0370     8      00      20      00      00      00      00
7  1.478199e+09   04f0     8      00      00      00      80      00      69
8  1.478199e+09   0130     8      05      80      00      ff      0b      80
9  1.478198e+09   0131     8      f7      7f      00      00      4c      7f

  DATA[6] DATA[7]      AttackType
0      00      00      DoS Attack
1      0e      a6  Normal Message
2      00      00  Normal Message
3      70      05  Normal Message
4      00      00  Normal Message
5      04      88  Normal Message
6      00      00  Normal Message
7      d1      13  Normal Message
8      0c      ed  Normal Message
9      0d      e7  Normal Message
(1656947, 12)

In [3]:
print(df.dtypes)
df = df.dropna()
def changecolumntype(df):
    for column in df[['CAN ID', 'DATA[0]', 'DATA[1]', 'DATA[2]', 'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]']]:
        df[column] = df[column].apply(lambda x: int(str(x), base=16))
    return df

df = changecolumntype(df)
print(df.dtypes)
df.head(10)

Timestamp     float64
CAN ID         object
Byte            int64
DATA[0]        object
DATA[1]        object
DATA[2]        object
DATA[3]        object
DATA[4]        object
DATA[5]        object
DATA[6]        object
DATA[7]        object
AttackType     object
dtype: object
Timestamp     float64
CAN ID          int64
Byte            int64
DATA[0]         int64
DATA[1]         int64
DATA[2]         int64
DATA[3]         int64
DATA[4]         int64
DATA[5]         int64
DATA[6]         int64
DATA[7]         int64
AttackType     object
dtype: object

,Timestamp,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],AttackType
0,1.478200e+09,0,8,0,0,0,0,0,0,0,0,DoS Attack
1,1.478201e+09,305,8,27,128,0,0,63,127,14,166,Normal Message
2,1.478199e+09,161,8,128,137,0,0,36,0,0,0,Normal Message
3,1.478200e+09,608,8,24,33,34,48,8,143,112,5,Normal Message
4,1.478201e+09,704,8,20,0,0,0,0,0,0,0,Normal Message
5,1.478200e+09,304,8,11,128,0,255,8,128,4,136,Normal Message
6,1.478200e+09,880,8,0,32,0,0,0,0,0,0,Normal Message
7,1.478199e+09,1264,8,0,0,0,128,0,105,209,19,Normal Message
8,1.478199e+09,304,8,5,128,0,255,11,128,12,237,Normal Message
9,1.478198e+09,305,8,247,127,0,0,76,127,13,231,Normal Message

In [4]:
df['Message'] = df.iloc[:,3:11].apply(lambda x: ''.join(x.astype(str)), axis = 1)
df.head(10)

,Timestamp,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],AttackType,Message
0,1.478200e+09,0,8,0,0,0,0,0,0,0,0,DoS Attack,00000000
1,1.478201e+09,305,8,27,128,0,0,63,127,14,166,Normal Message,27128006312714166
2,1.478199e+09,161,8,128,137,0,0,36,0,0,0,Normal Message,1281370036000
3,1.478200e+09,608,8,24,33,34,48,8,143,112,5,Normal Message,2433344881431125
4,1.478201e+09,704,8,20,0,0,0,0,0,0,0,Normal Message,200000000
5,1.478200e+09,304,8,11,128,0,255,8,128,4,136,Normal Message,11128025581284136
6,1.478200e+09,880,8,0,32,0,0,0,0,0,0,Normal Message,032000000
7,1.478199e+09,1264,8,0,0,0,128,0,105,209,19,Normal Message,000128010520919
8,1.478199e+09,304,8,5,128,0,255,11,128,12,237,Normal Message,512802551112812237
9,1.478198e+09,305,8,247,127,0,0,76,127,13,231,Normal Message,247127007612713231

In [5]:
#df['Message'] = df['Message'].map(lambda x: int(x))
df['Message'] = df['Message'].astype(float)
df.head(10)

,Timestamp,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],AttackType,Message
0,1.478200e+09,0,8,0,0,0,0,0,0,0,0,DoS Attack,0.000000e+00
1,1.478201e+09,305,8,27,128,0,0,63,127,14,166,Normal Message,2.712801e+16
2,1.478199e+09,161,8,128,137,0,0,36,0,0,0,Normal Message,1.281370e+12
3,1.478200e+09,608,8,24,33,34,48,8,143,112,5,Normal Message,2.433345e+15
4,1.478201e+09,704,8,20,0,0,0,0,0,0,0,Normal Message,2.000000e+08
5,1.478200e+09,304,8,11,128,0,255,8,128,4,136,Normal Message,1.112803e+16
6,1.478200e+09,880,8,0,32,0,0,0,0,0,0,Normal Message,3.200000e+07
7,1.478199e+09,1264,8,0,0,0,128,0,105,209,19,Normal Message,1.280105e+11
8,1.478199e+09,304,8,5,128,0,255,11,128,12,237,Normal Message,5.128026e+17
9,1.478198e+09,305,8,247,127,0,0,76,127,13,231,Normal Message,2.471270e+17

In [6]:
import datetime
newdf = df.copy(deep = True)
dateformat = "%Y-%m-%d %H:%M:%S.%f"
df['Timestamp'] = df['Timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)).strftime(dateformat))
print(df.dtypes)
df.head(100)

Timestamp      object
CAN ID          int64
Byte            int64
DATA[0]         int64
DATA[1]         int64
DATA[2]         int64
DATA[3]         int64
DATA[4]         int64
DATA[5]         int64
DATA[6]         int64
DATA[7]         int64
AttackType     object
Message       float64
dtype: object

,Timestamp,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],AttackType,Message
0,2016-11-03 19:08:43.044157,0,8,0,0,0,0,0,0,0,0,DoS Attack,0.000000e+00
1,2016-11-03 19:24:35.989254,305,8,27,128,0,0,63,127,14,166,Normal Message,2.712801e+16
2,2016-11-03 18:54:13.788681,161,8,128,137,0,0,36,0,0,0,Normal Message,1.281370e+12
3,2016-11-03 19:06:50.286119,608,8,24,33,34,48,8,143,112,5,Normal Message,2.433345e+15
4,2016-11-03 19:26:04.139714,704,8,20,0,0,0,0,0,0,0,Normal Message,2.000000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016-11-03 19:05:13.346416,0,8,0,0,0,0,0,0,0,0,DoS Attack,0.000000e+00
97,2016-11-03 19:15:01.146305,704,8,20,0,0,0,0,0,0,0,Normal Message,2.000000e+08
98,2016-11-03 18:56:54.761137,809,8,220,190,127,20,17,32,0,20,Normal Message,2.201901e+17
99,2016-11-03 18:52:14.511839,497,8,8,0,0,0,0,0,0,0,Normal Message,8.000000e+07
100,2016-11-03 19:16:38.790256,704,8,20,0,0,0,0,0,0,0,Normal Message,2.000000e+08

In [7]:
#df = newdf.copy(deep = True)
from sklearn import preprocessing
#print(df['AttackType'].unique())
#print(df['AttackType'].value_counts())
encoder = preprocessing.LabelEncoder()
#df1 = df[['AttackType']].copy()
df['AttackType']= encoder.fit_transform(df['AttackType'].values)
# df = df.drop(['AttackType'], axis = 1)
# df1
#df = pd.concat([df.iloc[:,0:11],df1, df.iloc[:, 11:]], axis=1)
#df = pd.get_dummies(df, columns =['AttackType'], prefix = '', prefix_sep = '')
print(df.head(10))
# print(df['AttackType Encode'])
print(df['AttackType'])
print(df.shape)
#print(df.shape)

                    Timestamp  CAN ID  Byte  DATA[0]  DATA[1]  DATA[2]  \
0  2016-11-03 19:08:43.044157       0     8        0        0        0
1  2016-11-03 19:24:35.989254     305     8       27      128        0
2  2016-11-03 18:54:13.788681     161     8      128      137        0
3  2016-11-03 19:06:50.286119     608     8       24       33       34
4  2016-11-03 19:26:04.139714     704     8       20        0        0
5  2016-11-03 19:03:07.624543     304     8       11      128        0
6  2016-11-03 19:06:31.658461     880     8        0       32        0
7  2016-11-03 18:55:47.812754    1264     8        0        0        0
8  2016-11-03 18:46:48.226079     304     8        5      128        0
9  2016-11-03 18:40:52.891089     305     8      247      127        0

   DATA[3]  DATA[4]  DATA[5]  DATA[6]  DATA[7]  AttackType       Message
0        0        0        0        0        0           0  0.000000e+00
1        0       63      127       14      166           3  2.712801e+16
2        0       36        0        0        0           3  1.281370e+12
3       48        8      143      112        5           3  2.433345e+15
4        0        0        0        0        0           3  2.000000e+08
5      255        8      128        4      136           3  1.112803e+16
6        0        0        0        0        0           3  3.200000e+07
7      128        0      105      209       19           3  1.280105e+11
8      255       11      128       12      237           3  5.128026e+17
9        0       76      127       13      231           3  2.471270e+17
0         0
1         3
2         3
3         3
4         3
         ..
462165    3
462166    3
462167    3
462168    3
462169    4
Name: AttackType, Length: 1636855, dtype: int64
(1636855, 13)

In [8]:
df.columns

Index(['Timestamp', 'CAN ID', 'Byte', 'DATA[0]', 'DATA[1]', 'DATA[2]',
       'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]', 'AttackType',
       'Message'],
      dtype='object')

In [9]:
X = df.iloc[:, np.r_[:,1,3:11]]
#X = df[['CAN ID', 'DATA[0]', 'DATA[1]', 'DATA[2]', 'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]']]
Y = df[['AttackType']]
X,Y

(        CAN ID  DATA[0]  DATA[1]  DATA[2]  DATA[3]  DATA[4]  DATA[5]  DATA[6]  \
 0            0        0        0        0        0        0        0        0
 1          305       27      128        0        0       63      127       14
 2          161      128      137        0        0       36        0        0
 3          608       24       33       34       48        8      143      112
 4          704       20        0        0        0        0        0        0
 ...        ...      ...      ...      ...      ...      ...      ...      ...
 462165     809      220      183      126       20       17       32        0
 462166     305      242      127        0        0       58      127       12
 462167     305      242      127        0        0       64      127        6
 462168     704       21        0        0        0        0        0        0
 462169     790       69       41       36      255       41       36        0

         DATA[7]
 0             0
 1           166
 2             0
 3             5
 4             0
 ...         ...
 462165       20
 462166      131
 462167       22
 462168        0
 462169      255

 [1636855 rows x 9 columns],         AttackType
 0                0
 1                3
 2                3
 3                3
 4                3
 ...            ...
 462165           3
 462166           3
 462167           3
 462168           3
 462169           4

 [1636855 rows x 1 columns])

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 20)

In [23]:
val = encoder.inverse_transform(df['AttackType'])
(unique, counts) = np.unique(val, return_counts=True)
frequencies = np.asarray((unique, counts)).T
print(frequencies)
print(df['AttackType'].value_counts())

[['DoS Attack' 58469]
 ['Fuzzy Attack' 49258]
 ['Gear Spooing Attack' 60016]
 ['Normal Message' 1403673]
 ['RPM Spoofing Attack' 65439]]
3    1403673
4      65439
2      60016
0      58469
1      49258
Name: AttackType, dtype: int64

In [ ]:
model =  Pipeline([
    ('svc', SVC(random_state=20))
  ])
model.fit(X_train, Y_train)
pred = model.predict(X_test)
pred

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, pred)
print('accuracy : \n', accuracy)
matrix = confusion_matrix(Y_test,pred)
print('Confusion matrix : \n',matrix)
matrix = classification_report(Y_test,pred)
print('Classification report : \n',matrix)

In [ ]:
dfC = df['AttackType'].value_counts()
dfcount = pd.DataFrame(dfC, index = ['Normal Message','RPM Spoofing Attack','Gear Spooing Attack','DoS Attack','Fuzzy Attack'])
#dfcount_reset = dfcount.reset_index()
dfcount.columns = ['Injected Messages']
#dfcount_reset.set_index('Attack Type')
#dfcount_reset.dropna()
print("\n",dfcount)

#index = ['Normal Message','RPM Spoofing Attack','Gear Spooing Attack','DoS Attack','Fuzzy Attack']
# df2frame = dfDos['AttackType'].value_counts()
# df2frame_count = pd.DataFrame(df2frame)
# df2frame_count_reset = df2frame_count.reset_index()
# df2frame_count_reset.columns = ['No Of Normal Message','No Of Injected Messages']
# print("\n",df2frame_count_reset)

In [ ]:
import matplotlib.pyplot as plt
# dffinal = pd.DataFrame({'mass': [0.330, 4.87 , 5.97],
#                    'radius': [2439.7, 6051.8, 6378.1]},
#                   index=['Mercury', 'Venus', 'Earth'])
#plts = dfcount.plot.bar(x='Attack Type', y='Injected Messages', rot=0, figsize=(12, 8))
plot = dfcount.plot.pie(y='Injected Messages',  figsize=(12, 8))